li>a{
color:#acac99;}

ul{
color:rgb(0,0,0);}

a{
color:#cfcfc4;}

a:hover{
color:#86866d;}

.lists{
color:white;
background-color:gray;}

.contact{
color:#acac99;
font-family:"Courier",monospace;}


p::first-letter{
color:black;
font-size:200%;}

h1{
color:gray;
font-size:600%;}

@media only screen and (max-width:800px) {

	h1 {
		border:5px solid green;
		background-color:black;
		color:green;
		font-size: 600%;} 
}

@media only screen and (min-width:800px) {

	h1 {
		border:5px solid purple;
		background-color:pink;
		color:purple;
		font-size: 600%;} 
}

li>a:hover{
color:#555545;}

#important2{
text-transform:uppercase;}

@media only screen and (min-width:800px){
	
.mynav{
display:flex;
justify-content:center;}
}

.box1{
border:5px solid #cfcfc4;
background-color:#eeeeea;
margin:10px;
padding:20px;
height:5px;
width:25px;
font-weight:bold;
font-size:10px;}

.box2{
border:5px solid #cfcfc4;
background-color:#eeeeea;
margin:10px;
padding:20px;
height:5px;
width:25px;
font-weight:bold;
font-size:10px;}

.box3{
border:5px solid #cfcfc4;
background-color:#eeeeea;
margin:10px;
padding:20px;
height:5px;
width:25px;
font-weight:bold;
font-size:10px;}

.box4{
border:5px solid #cfcfc4;
background-color:#eeeeea;
margin:10px;
padding:20px;
height:5px;
width:25px;
font-weight:bold;
font-size:10px;}

.box5{
border:5px solid #cfcfc4;
background-color:#eeeeea;
margin:10px;
padding:20px;
height:5px;
width:25px;
font-weight:bold;
font-size:10px;}

.box6{
border:5px solid #cfcfc4;
background-color:#eeeeea;
margin:10px;
padding:20px;
height:5px;
width:25px;
font-weight:bold;
font-size:10px;}

li{
display:inline;
margin:60px;
font-family:"OCR A Std",monospace;
font-size:60%}

fieldset{
background-color:white;}

input:focus{
background-color:#aaf0d1;
transition:3s;}

button:hover{
background-color:#aaf0d1;}

textarea:focus-visible{
outline:3px solid black;
background-color:#aaf0d1;
transition:3s;}

option:checked, option:hover{
color:black;
background-color:#aaf0d1;}

input[type=radio]:checked, option:focus-visible{
outline:3px solid #aaf0d1;}

input[type=submit]:hover{
background-color:#aaf0d1}

body{
background-image:url("../images/cool-background.png");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
color:black;
padding:20px;}

body{
font-family: Georgia, "Times New Roman", serif;
color:#555545;}
/*
img.align-right	{
float:right;
margin-left:10px;}
img.align-right{
width:300px;
height:420px;}
*/
/*
img.align-left{
float:left;
margin-left: 10px;}
img.align-left{
width:420px;
height:300px;}
*/
/*
img.align-center{
display:block;
margin:auto;}
img.align-center{
width: 300px;
height: 420px;}
*/


.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px, 1fr));
grid-template-rows:300px 300px;
gap:50px;}

img{
width:350px;
height:280px;}

.preview1{
border:5px solid #cfcfc4;}

.preview2{
border:5px solid #cfcfc4;}

.preview3{
border:5px solid #cfcfc4;}

.preview4{
border:5px solid #cfcfc4;}

.preview5{
border:5px solid #cfcfc4;}

.preex1{
border:5px solid #aaf0d1;}

.preex2{
border:5px solid #aaf0d1;}

.preex3{
border:5px solid #aaf0d1;}

* {
	color: #665544;
	text-align: center;}
			
#feature, .article, #footer {
	background-color: #efefef;
	margin-top: 20px;
	padding: 10px 0px 5px 0px;}
			
#feature, .article {
	height: 100px;}

/* Modify Links style*/
a {
  background-color: black;
  text-decoration: none;
  color:#cfcfc4;
  border-radius:.25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

/* breweries styles */
.breweries {
  padding: 2rem;
}

.breweries > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  list-style-type: none;
}

.breweries > ul > li {
  border: 20px solid red;
  background-color:white;
  border-radius: 0.5rem;
}

.breweries > ul > li > figure {
  max-height: 200px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.breweries > ul > li > figure > img {
  width: 100%;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height:30%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.8rem;
  font-size: 0.8rem;
}

.breweries > ul > li > p {
  font-size: 0.8rem;
  line-height: 1;
  padding: 1rem .75rem;
  color: gray;
}

.breweries > ul > li > a {
  padding: 0.8rem 1rem;
  margin: .5rem;
}
