body{
    background-color: black;
	color:white;
    font-family: copperplate;
}

body{
font-family: Georgia, "Times New Roman", serif;
color: white;}

#preview{
display:grid;
grid-template-columns:1fr 1fr 1fr;
border: 5px solid red;}

img.align-right	{
width:100%;
height:auto;}

img.align-left{
width:100%;
height:auto;}

img.align-center{
width:100%;
height:auto;}


.maintitle {
    position: relative;
    animation: slider 2s ease-out;
    text-align: center;
    color: white;
}

@keyframes slider {
    0% {    
        opacity: 0;
        left: -700px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

a{
color: white;
font-size:10px;
font-weight:bold;}

a:active{
color: white;}

.titlebar{
display: flex;
border:5px solid green;}

.nav{
display:flex;
justify-content:left;
flex:1;
border:5px solid blue;}

.socialmedia{
display:flex;
justify-content:right;
flex:1;
border: 5px solid yellow;}

.box1{
padding:10px;
margin:10px;}

.box2{
padding:10px;
margin:10px;}

.box3{
padding:10px;
margin:10px;}

.empty{
padding:10px;
margin:10px;}

.instagram{
padding:10px;
margin:10px;}

.more{
padding:10px;
margin:10px;}

.box4{
padding:10px;
margin:10px;}

#page2{
width:100%;
height:100vh;
background: linear-gradient(to right, white 0%, white 25%, black 25%, black 75%);}

.secondtitlebar{
position:fixed;
border:5px solid yellow;
display:grid;}

#content{
  position: absolute;
  top: 80px;
  right: 0;
  width: 400px;
  height: auto;
  border: 3px solid #73AD21;}

h4{
color:black;}

.gallerynav{
justify-content:left;
flex:1;
border:5px solid blue;}

.maintitle2{
color:black;}

li>a{
color:black;
padding:1px;
margin:1px;
font-size:10px;}

.socialmedia2{
display:inline-flex;
justify-content:left;
border:5px solid red;}

.grid-item{
padding:5px;
margin:5px;}

#aboutme{
justify-content:right;
border: 5px solid purple;
display:grid;}

.coming{
    position: relative;
    animation: slider 1s ease-out;
    text-align: center;
    color: white;
	font-size:80px;
}

@keyframes slider {
    0% {    
        opacity: 0;
        left: -700px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

