p{
font-family:"Times New Roman";
}

li{
	font-family:"Courier New";
}

body{
    background-color: black;
	color:white;
}

#preview{
display:grid;
grid-template-columns:1fr 1fr 1fr;
}

img.align-right	{
width:100%;
height:auto;
padding:10px;
margin:10px;
}

img.align-left{
width:100%;
height:auto;
padding:10px;
margin:10px;
}

img.align-center{
width:100%;
height:auto;
padding:10px;
margin:10px;
}

.maintitle {
    position: relative;
    animation: slider 2s ease-out;
    text-align: center;
    color: white;
	font-family:"Georgia";
}



@keyframes slider {
    0% {    
        opacity: 0;
        left: -700px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

a{
color: white;
font-size:10px;
font-weight:bold;
}

a:active{
color: white;
}

.titlebar{
display: flex;
font-family:"Courier New";
}

.nav{
display:flex;
justify-content:left;
flex:1;
}

.socialmedia{
display:flex;
justify-content:right;
flex:1;
}

.box1{
padding:10px;
margin:10px;
}

.box2{
padding:10px;
margin:10px;
}

.box3{
padding:10px;
margin:10px;
}

.empty{
padding:10px;
margin:10px;
}

.instagram{
padding:10px;
margin:10px;
}

.more{
padding:10px;
margin:10px;
}

.box4{
padding:10px;
margin:10px;
}

.page2{
display: flex;
}

.secondtitlebar{
background-color:white;
display:grid;
justify-content:left;
flex:1;
}

.secondtitlebar2{
background-color:white;
display:grid;
justify-content:left;
flex:1;
}

.content{
display:grid;
justify-content:center;
flex:3;
padding:30px;
}
fieldset{
display:grid;
justify-content:center;
}

button:hover{
background-color:pink;}

option:checked, option:hover{
color:black;
background-color:pink;}

textarea:focus-visible{
background-color:pink;
transition:3s;}

input:focus{
background-color:pink;
transition:3s;}

.contactinfo, p, h3, a{
display:grid;
justify-content:center;
}

.socialmedia2{
display:inline-flex;
justify-content:left;
}

.grid-item{
padding:5px;
margin:5px;
}
  
h4{
color:black;
font-family:"Georgia";
}

.gallerynav{
background-color:white;
position:fixed;
margin-left:10px;
justify-content:left;
flex:1;
}

.maintitle2{
color:black;
}

li>a{
color:black;
padding:1px;
margin:1px;
font-size:10px;
}

.coming{
position: relative;
animation: slider 1s ease-out;
text-align: center;
color: white;
font-size:80px;
display:grid;
justify-content:right;
flex:3;
}

@keyframes slider {
    0% {    
        opacity: 0;
        left: -700px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.gallery{
background-color:black;
display:grid;
grid-template-columns:1fr 1.8fr 1.8fr;
}

.about2{
background-color:black;
display:grid;
grid-template-columns:1fr 3.6fr;
}

.secondtitlebar1{
background-color:white;
display:grid;
justify-content:left;
flex:1;
}

.fixednav{
	position:fixed; 
	border-width:thin;
	top:100px;
}


/*odd number*/
.foto1{
margin:5px;
padding:10px;
max-width:100%;
height:auto;
}

.foto2{
margin:5px;
padding:10px;
max-width:100%;
height:auto;
}

#aboutme{
margin:10px;
padding:10px;
justify-content:center;
}

/*
first div
*/

.card {
	width:auto;
  padding:5px;
  margin: 5px;
}

.card__image {
  width: 30%;
  max-height: 80px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  margin: 5px;
  padding:5px;
    max-height: none;
    min-height: 400px;
  }
  
  .minitt{
  top: 80%; 
  left: 40%; 
  transform: translate(50%, -100%);  
  color: white; 
  padding: 5px; 
  font-size: 50px; 
text-align: left;
position:absolute;
font-family:"Georgia";
}


.card2 {
  border-radius: var(--border-radius-primary);
	width:100%;
	height:auto;
}

.card2image{
	width:100%;
	height:auto;
}

.card3image{
	width:100%;
	height:auto;
}

.card3 {
	width:100%;
	height:auto;
  padding:5px;
  margin: 5px;
}

.card4{
background-color:black;
display:grid;
border-radius: var(--border-radius-primary);
grid-template-columns:1.8fr 1.8fr;
position:sticky;
  width:auto;
  padding:5px;
  margin: 5px;
}

.card5{
	width:100%;
	height:auto;
  padding:5px;
  margin: 5px;
}

.card6{
	width:100%;
	height:auto;
display:grid;
border-radius: var(--border-radius-primary);
grid-template-columns:1fr 2fr;
  padding:5px;
  margin: 5px;
}

.image-container {
	width:100%;
	height:auto;
	padding:5px;
  margin:10px;
  position: sticky;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(100,100,100,0.3); 
  color: #fff; 
  padding: 10px 10px; 
  font-size: 10px; 
text-align: left;
	width:80%;
	height:auto;
}

 * {
  box-sizing: border-box;
}


.container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.image-stack {
  position: sticky;
  width: 100%;
}

.image-stack__item--bottom {
  position: sticky;
  right: 0;
  top: 0;
  width: 80%; 
}

.image-stack__item--top {
  padding-top: 20px; 
  padding-right: 20%; 
  width: 80%;
}

img{
  width: 100%;
  display: block;
}


.overlay-text1{
  top: 80%; 
  left: 50%; 
  transform: translate(40%, -50%);  
  color: white; 
  padding: 10px; 
  font-size: 50px; 
text-align: left;
	width:100%;
	height:auto;
	font-family:"Georgia";
}


.fun3{
	width:100%;
	height:auto;
padding:30px;
margin:10px;
}


/* Mobile */
@media (min-width:320px) { 

    .tester {

    }
}

/* Tablet */
@media (min-width:640px) {

    .tester {

    }   

}

/* Desktop */
@media (min-width:960px) {

    .tester {

    }   

}